<div class="panel panel-info">
    <div class="panel-heading">
        <div class="modal-header">
	          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
	          <h4 class="panel-title">Informacion sobre el Semestre</h4>
	      </div>
    </div>
	<div class="panel-body">
	<p>
	  <strong>Nombre:</strong>
	  <%= @semestre.nombre %>
	</p>
	</div>
</div>