<div class="panel panel-info">
    <div class="panel-heading">
        <div class="modal-header">
	          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
	          <h4 class="panel-title">Nueva Area Academica</h4>
	      </div>
    </div>
	<%= render 'form' %>   
</div><!-- panel -->