<div class="panel panel-info">
    <div class="panel-heading">
        <div class="modal-header">
	          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
	          <h4 class="panel-title">Editar Planificacion</h4>
	      </div>
    </div>
	<%= render 'form' %>   
</div><!-- panel -->
<script>
  jQuery(document).ready(function() {          
      jQuery("select#planificacion_semestre_id").select2();
      jQuery("select#planificacion_carrera_id").select2();
      jQuery("select#planificacion_unidad_curricular_id").select2();
      jQuery("select#planificacion_seccion_id").select2();
  });
</script>